// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
//
// // Variables
// @import 'variables';
//
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.toolbox{
    padding:10px;
}

.function-button{
    margin-bottom:15px;
}

.comment-body{
    form{
        display:none;
    }
    &.edit{
        form{
            display:block;
        }
        p{
            display: none
        }
    }
}

.list-group{
    background-color: black;
}
